<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="center center">
    <!-- <h1 style="color: white; font-size: 3rem">kiki</h1> -->
    <img src="../../../../assets/kikilogo.PNG" alt="">
  </div>
  <div class="center-btn-container">
    <div fxLayoutAlign="center" fxLayoutGap="20">
      <a class="centerNavBtn" mat-raised-button
        ><mat-icon>videocam</mat-icon> Video</a
      >
      <a class="centerNavBtn" mat-raised-button
        ><mat-icon>audiotrack</mat-icon> Audio</a
      >
      <a class="centerNavBtn" mat-raised-button
        ><mat-icon>dashboard</mat-icon> More</a
      >
    </div>
  </div>

  <div fxLayoutAlign="space-between" fxLayoutGap="20">
    <div fxLayoutAlign="center" >
      <div>
        <mat-form-field
          appearance="outline"
          style="color: white; font-size: 15px"
        >
          <input matInput [matMenuTriggerFor]="menu" />
          <mat-icon matSuffix style="color: white; font-size: 23px"
            >search</mat-icon
          >
        </mat-form-field>
        <mat-menu #menu="matMenu" class="matmenuSearch">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
    <div fxLayoutAlign="center center">
      <a class="rightNavBtn" mat-raised-button color="primary">Sign In</a>
    </div>
  </div>
</mat-toolbar>