<div class="mainSliderContainer">
  <div class="slider" style="background-color: black">
    <div>
      <div
        (click)="goToPrevious()"
        class="leftArrow"
        style="color: white"
      >
        ❰
      </div>
      <div (click)="goToNext()" class="rightArrow" style="color: white">
        ❱
      </div>
    </div>
    <div style="height: 100%" fxLayout="row" >
      <div class="textAriaContainer">
        <div class="textSection">
          <div fxLayout="column" fxLayoutGap="20" style="position: relative;top: 15px;z-index: 1;">
            <p style="color: white; font-size: 30px">{{title}}</p>
            <div
              class="startIcon"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="6"
              
              >
              <div  fxLayoutAlign="center">
                <mat-icon>star</mat-icon><mat-icon>star</mat-icon
                ><mat-icon>star</mat-icon><mat-icon>star</mat-icon
                ><mat-icon>star_border</mat-icon>
              </div>
              <p  fxLayoutAlign="center">{{genre}}</p>
              <div
                style="
                  color: white;
                  background-color: grey;
                  border-radius: 5px;
                  font-size: 11px;
                  padding-left:12px;
                  padding-right: 1px;
                  width: 35px;
                  position: relative;
                  bottom: 5px;margin-left: 10px;
                  cursor: pointer;
                "
                class="demo-section" 

                [style]="statusColor"  
              >
               {{genreStatus}}
              </div>
            </div>

            <div
              style="width: 100%; height: 55px;position: relative; top: -5px"
            >
              <p style="color: white; font-size: 0.8vw">
             {{description}}
              </p>
            </div>

            <div
              style="width: 100%; height: 55px; position: relative; top: -23px"
            >
              <a
                style="
                  border: 28px;
                  background-color: #0099a5;
                  color: white;
                  margin-top: 18px;
                  font-size: 13px;
                  margin-top: 2px;
                "
                [style]="buttonColor"
                mat-raised-button
                ><mat-icon  style="color: white">play_arrow</mat-icon> {{mainButton}}</a
              >

              <a
                style="
                  border: 28px;
                  background-color: transparent;
                  color: white;
                  margin-top: 18px;
                  font-size: 13px;
                  margin-left: 16px;
                "
                mat-raised-button
                >{{subButton}}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: black; width: 70%; height: 100%">
        <div
          class="slide"
          [ngStyle]="{
            'background-image':
              'linear-gradient(to left,  rgba(2, 2, 2, 0) 60%,  rgb(0, 0, 0) 100%, rgb(0, 0, 0)),' +
              getCurrentSlideUrl()
          }"
        ></div>
      </div>
    </div>
    <div class="dotsContainer">
      <div
        *ngFor="let slide of slides; let slideIndex = index"
        class="dot"
        (click)="goToSlide(slideIndex)"
      >
        ●
      </div>
    </div>
  </div>
</div>