<body class="main-container">
 <app-navbar></app-navbar>

  <main class="bodyContainer" fxLayout="row">
    <!-- <img src="../../../../assets/mainpic.jpg" alt="" > -->
    <app-slider></app-slider>
  </main>

  <footer style="width: 100%;height: 14%;background-color: black;">
      <div class="footerContainer" fxLayoutAlign="space-evenly center" fxLayoutGap="5">
          <a class="footerBtn" mat-raised-button>All</a>
          <a class="footerBtn" mat-raised-button>Drama</a>
          <a class="footerBtn" mat-raised-button>Comedy</a>
          <a class="footerBtn" mat-raised-button>Cookery</a>
          <a class="footerBtn" mat-raised-button>Fashion & Lifestyle</a>
          <a class="footerBtn" mat-raised-button>Kids & Learning</a>
          <a class="footerBtn" mat-raised-button>Documentry</a>
          <a class="footerBtn" mat-raised-button>Movie</a>
          <a class="footerBtn" mat-raised-button>Shows</a>
          <a class="footerBtn" mat-raised-button>Music</a>
          <a class="footerBtn" mat-raised-button>Gammadda Thaksalawa</a>
          <a class="footerBtn" mat-raised-button>Religious</a>

      </div>
  </footer>
</body>