<body class="main-container">
  <app-navbar></app-navbar>

  <main class="bodyContainer" fxLayout="row">
    <app-slider></app-slider>
  </main>

  
  <footer class="footer-main">
    <div
      class="footerContainer"
      fxLayoutGap="5"
      fxLayoutAlign="center center"
    
       
    >
      <a class="footerBtn" mat-raised-button>All</a>
      <a class="footerBtn" mat-raised-button>Drama</a>
      <a class="footerBtn" mat-raised-button>Comedy</a>
      <a class="footerBtn" mat-raised-button>Cookery</a>
      <a class="footerBtn" mat-raised-button>Fashion & Lifestyle</a>
      <a class="footerBtn" mat-raised-button>Kids & Learning</a>
      <a class="footerBtn" mat-raised-button>Documentry</a>
      <a class="footerBtn" mat-raised-button>Movie</a>
      <a class="footerBtn" mat-raised-button>Shows</a>
      <a class="footerBtn" mat-raised-button>Music</a>
      <a class="footerBtn" mat-raised-button>Gammadda Thaksalawa</a>
      <a class="footerBtn" mat-raised-button>Religious</a>
    </div>
  </footer>
</body>