.main-container {
  width: 100vw;
  height: 100vh;
}


// ----------------------main Container----------------------

.bodyContainer{
  height: 76vh;
  // border: 1px solid red;
 background-color: black;
}

.footerContainer{
  // border: 1px solid red;
  width: 90%;
  height: 7vh;
  text-align: center;
  margin: auto;
  position: relative;
  top: 25%;
}

.footerBtn{
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: white;
  font-size: 12px;
}

.footerBtn:hover{ 
  border: 1px solid #0099a5;
}

