<body class="main-container">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="center center">
      <!-- <h1 style="color: white; font-size: 3rem">kiki</h1> -->
      <img src="../../../../assets/kikilogo.PNG" alt="">
    </div>
    <div class="center-btn-container">
      <div fxLayoutAlign="center" fxLayoutGap="20">
        <a class="centerNavBtn" mat-raised-button
          ><mat-icon>videocam</mat-icon> Video</a
        >
        <a class="centerNavBtn" mat-raised-button
          ><mat-icon>audiotrack</mat-icon> Audio</a
        >
        <a class="centerNavBtn" mat-raised-button
          ><mat-icon>dashboard</mat-icon> More</a
        >
      </div>
    </div>

    <div fxLayoutAlign="space-between" fxLayoutGap="20">
      <div fxLayoutAlign="center" >
        <div>
          <mat-form-field
            appearance="outline"
            style="color: white; font-size: 15px"
          >
            <input matInput [matMenuTriggerFor]="menu" />
            <mat-icon matSuffix style="color: white; font-size: 23px"
              >search</mat-icon
            >
          </mat-form-field>
          <mat-menu #menu="matMenu" class="matmenuSearch">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
      </div>
      <div fxLayoutAlign="center center">
        <a class="rightNavBtn" mat-raised-button color="primary">Sign In</a>
      </div>
    </div>
  </mat-toolbar>

  <main class="bodyContainer" fxLayout="row">
    <!-- <img src="../../../../assets/mainpic.jpg" alt="" > -->
    <app-slider></app-slider>
  </main>

  <footer style="width: 100%;height: 14%;background-color: black;">
      <div class="footerContainer" fxLayoutAlign="space-evenly center" fxLayoutGap="5">
          <a class="footerBtn" mat-raised-button>All</a>
          <a class="footerBtn" mat-raised-button>Drama</a>
          <a class="footerBtn" mat-raised-button>Comedy</a>
          <a class="footerBtn" mat-raised-button>Cookery</a>
          <a class="footerBtn" mat-raised-button>Fashion & Lifestyle</a>
          <a class="footerBtn" mat-raised-button>Kids & Learning</a>
          <a class="footerBtn" mat-raised-button>Documentry</a>
          <a class="footerBtn" mat-raised-button>Movie</a>
          <a class="footerBtn" mat-raised-button>Shows</a>
          <a class="footerBtn" mat-raised-button>Music</a>
          <a class="footerBtn" mat-raised-button>Gammadda Thaksalawa</a>
          <a class="footerBtn" mat-raised-button>Religious</a>

      </div>
  </footer>
</body>